.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

button.tablinks {
  font-family: "Montserrat", sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabcontent h1 {
  font-weight: 700;
}

.btnOutline2 {
  text-decoration: none;
  color: white;
  background-color: #c0392b;
  border-radius: 6px;
  width: 225px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}

.btnOutline2:hover {
  -webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 1);
  transition-duration: 0.25s;
}

textarea {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #95a5a6;
}
